<h3>Three Dojos created (after destroyed 3 Dojos) by rails console with validates</h3>
<%= image_tag("dojo_validates.png")  %>
<br>

<h3>Three Ninjas created for every Dojos (with validates)</h3>
<%= image_tag("ninja_created.png")  %>

<br>
<h3>Show ninjas by Dojo (first, second and last)</h3>
<%= image_tag("ninjas_first_second_last_Domo.png")  %>
<br>
<br>
<h3>Show names of ninjas of second Dojo and order by created_at desc</h3>
<%= image_tag("ninjas_only_names_second_Dojo_created_at_desc.png")  %>

<br>
<h3>Destroyed second Dojo and ninjas associated with it (one command)</h3>
<%= image_tag("has_many_dependent_destroy.png")  %>

